#image {
    background-repeat: 'no-repeat';
    background-size: 'contain';
    height: '300px';
    margin-left: '40em';
    margin-bottom: '1em';
}

#status {
    position: absolute;
    top: 16em;
    left: 47em;
    font-size: 25px;
    color: white;
}

#details {
    position: absolute;
    top: 4em;
    left: 23em;
    font-size: 25px;
    color: white;
    text-align: center;
}