#items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

#contents {
    color: white;
}

#body {
    width:12%;
}

#heading {
    margin-left: 1em;
    text-align: left;
    font-size: 20px;
    color: white;
}